/* high school theme */

.highschool {
    &-body {
        background-color: #63AAE4;
    }
    &-h4 {
        color: #2D71A9;
    }
    &-th {
        color: #4BA9DF;
    }
    &-button {
        background-color: #2D71A9;
        &:hover {
            background-color: #1297E6;
        }
    }
    &-search {
        color: #fff;
        background-color: #2D71A9;
        border-color: #2D71A9;
    }
}


/* K8 theme */

.k8 {
    &-body {
        background-color: #39ABA6;
    }
    &-h4 {
        color: #237774;
    }
    &-th {
        color: #23827D;
    }
    &-button {
        background-color: #23827D;
        &:hover {
            background-color: #39ABA6;
        }
    }
    &-search {
        color: #fff;
        background-color: #23827D;
        border-color: #23827D;
    }
}
